<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>knoc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <error-page>
    <error-code>404</error-code>
    <location>/cmm/code404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/cmm/code500.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>RegistArticle</servlet-name>
    <servlet-class>com.neoboard.servlet.RegistArticle</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistArticle</servlet-name>
    <url-pattern>/servlet/RegistArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewImage</servlet-name>
    <servlet-class>com.neoboard.servlet.ViewImage</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewImage</servlet-name>
    <url-pattern>/servlet/ViewImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditArticle</servlet-name>
    <servlet-class>com.neoboard.servlet.EditArticle</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditArticle</servlet-name>
    <url-pattern>/servlet/EditArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReplyArticle</servlet-name>
    <servlet-class>com.neoboard.servlet.ReplyArticle</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyArticle</servlet-name>
    <url-pattern>/servlet/ReplyArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Download</servlet-name>
    <servlet-class>com.neoboard.servlet.Download</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/servlet/Download</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MoveArticle</servlet-name>
    <servlet-class>com.neoboard.servlet.MoveArticle</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveArticle</servlet-name>
    <url-pattern>/servlet/MoveArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteArticle</servlet-name>
    <servlet-class>com.neoboard.servlet.DeleteArticle</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteArticle</servlet-name>
    <url-pattern>/servlet/DeleteArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddComment</servlet-name>
    <servlet-class>com.neoboard.servlet.AddComment</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComment</servlet-name>
    <url-pattern>/servlet/AddComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteComment</servlet-name>
    <servlet-class>com.neoboard.servlet.DeleteComment</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteComment</servlet-name>
    <url-pattern>/servlet/DeleteComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RestoreArticle</servlet-name>
    <servlet-class>com.neoboard.servlet.RestoreArticle</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestoreArticle</servlet-name>
    <url-pattern>/servlet/restoreArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SangdamArticle</servlet-name>
    <servlet-class>com.neoboard.servlet.SangdamArticle</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SangdamArticle</servlet-name>
    <url-pattern>/servlet/SangdamArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InfoArticle</servlet-name>
    <servlet-class>com.neoboard.servlet.InfoArticle</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoArticle</servlet-name>
    <url-pattern>/servlet/InfoArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EtcDownload</servlet-name>
    <servlet-class>kr.co.knoc.etc.Download</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>EtcDownload</servlet-name>
    <url-pattern>/servlet/EtcDownload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Captcha</servlet-name>
    <servlet-class>com.neoboard.servlet.Captcha</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Captcha</servlet-name>
    <url-pattern>/servlet/Captcha</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SPStub</servlet-name>
    <servlet-class>gov.mogaha.gpin.connect.servlet.SPStub</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SPStub</servlet-name>
    <url-pattern>/SPStub</url-pattern>
  </servlet-mapping>

  <!--filter>
    <filter-name>xssEscapeServletFilter</filter-name>
    <filter-class>com.navercorp.lucy.security.xss.servletfilter.XssEscapeServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>xssEscapeServletFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping-->

  <session-config>
	<session-timeout>30</session-timeout>
  </session-config>
</web-app>