@charset "euc-kr";

/*************************
Type: Common style sheet 
Date: 09/07/
**************************/
* { padding:0px; margin:0px;}
html,body {width:100%;	height:100%;background:#ffffff;	font-size:12px; line-height:18px; font-family:Dotum,"돋움", Verdana, sans-serif; color:#606060;}
html>/**/body {overflow-y:scroll ;}

table {border-collapse:collapse;}
img { border:none;}
a { color:#606060; text-decoration:none;}
input, select { font-size:12px; font-family:Dotum,"돋움", Verdana, sans-serif; color:#606060;}
select {height:19px;border:1px solid #ABADB3;}
a:hover {color:#D32602;}
optgroup {  font-size:12px; font-family:"돋움", Dotum; color:#444; font-weight:bold; font-style:normal;}
textarea {border:1px solid #DBDBDB;font-size:12px;font-family:Dotum,"돋움", Verdana, sans-serif;color:#606060;overflow-y:auto;}
caption, legend, #accessibity  {display:none;}
/* 2009-10-26 추가*/
address {font-size:0.75em; font-style:normal;color:#666; line-height:14px; margin-top:2px;}


fieldset, p {border:none;margin:0px;padding:0px;}
ul, li   {list-style:none;}
hr {display:none;}


#accessibility {display:none;}
.hidden_tit {position:absolute; overflow:hidden; height:0; width:0; font-size:0; visibility:hidden; display:none;}

/* 2012 */

#wrapper {width:100% ; position:relative ;}
#header {width:990px ; margin:0 auto ; position:relative ;}

/* 스킵네비게이션 */
.skip_nav {width:83px ; height:18px ; position:absolute ; left:0px ; top:0px ;}
.skip_nav a {font-size:11px ; letter-spacing:-1px ; }

#header h1 {width:114px ; height:48px ; position:absolute ; left:0 ; top:15px ;}
#header .top_banner {position:absolute ; left:340px ; top:15px ;}

.util1 {height:16px ; position:absolute ; right:150px ; top:37px ;}
.util1 li {float:left;padding-right:5px;padding-left:5px;background:url(/images/2011/util_bar.gif) no-repeat right 2px;}
.util1 li a img {vertical-align:top ;}
.util1 li.last {background:none;}

.util2 {height:20px ; position:absolute ; right:0 ; top:30px ;}
.util2 li {float:left;height:20px;}
.util2 li.text_zoom {background:url(/images/2011/util_text_back.gif) no-repeat right;padding-right:8px;}

/* 메뉴 전체보기 */
#disLayer {z-index:999 ; display:none; position:absolute ;  top:55px ; left:0 ; width:890px ; padding:20px 40px 20px 60px ; background:#fdfdfd ; border:5px solid #001e18 ;}
#disLayer .tit .close {width:25px ; height:25px ; position:absolute ; right:1px ; bottom:1px ;}
#disLayer .menu_all {overflow:hidden ; height:1% ;}
#disLayer .menu {float:left ; margin-left:7px ; width:145px ;}
#disLayer .menu li a {font-size:14px ; font-weight:bold ; color:#001e18 ; letter-spacing:-1px ; text-decoration:none ;}
#disLayer .menu li a:hover {color:#777 ;}
#disLayer .last_child {float:left ; margin:0px ; width:130px ;}
#disLayer .last_child li a {font-size:14px ; font-weight:bold ; color:#001e18 ; letter-spacing:-1px ; text-decoration:none ;}
#disLayer .last_child li a:hover {color:#777 ;}
#disLayer .menu_all ul ul {padding:5px 5px ;}
#disLayer .menu_all ul ul li {line-height:20px ;}
#disLayer .menu_all ul ul li a {font-size:11px ; font-weight:normal ; color:#777 ; text-decoration:none ;}
#disLayer .menu_all ul ul li a:hover {color:#001e18 ;}

.nav {clear:both ; width:100% ; height:74px ; background:url(/images/2012/navi_bg.gif) repeat-x ; position:absolute ; top:253px ;}
#topNavi {width:990px ; margin:0 auto ; position:relative ;}
#topNavi .total_category {width:90px ; height:36px ; position:absolute ; left:26px ; top:19px ;}
#topNavi ul.navi{height:36px ; z-index:1; width:650px ; position:absolute ; left:185px ; top:19px ;}
#topNavi ul.navi li {float:left; padding-right:35px ;}
#topNavi ul.navi li.last {padding-right:0 ;}
#topNavi ul.navi li img{display:block;}

#topNavi ul.navi li div {position:absolute;display:none; padding-top:10px; }
#topNavi ul.navi li.on div{display:block;}
#topNavi ul.navi li.off div{display:none;}

#topNavi ul.navi li div ul li {float:left; font-size:11px;background:url(../images/2011/bullet_point.gif) no-repeat right 7px;padding-right:7px;padding-left:7px; font-weight:bold ; }
#topNavi ul.navi li div ul li.bg_none {background:none;}

#topNavi ul.navi li#E01 div.sub_arrow {position:absolute;background:url(../images/2011/sub_arrow.gif) no-repeat;width:10px;height:5px;top:-3px;left:60px;}
#topNavi ul.navi li#E01 div.topnavi_s01 {left:0;width:700px;}
#topNavi ul.navi li#E02 div.sub_arrow {position:absolute;background:url(../images/2011/sub_arrow.gif) no-repeat;width:10px;height:5px;top:-3px;left:188px;}
#topNavi ul.navi li#E02 div.topnavi_s02 {left:0;width:700px;}
#topNavi ul.navi li#E03 div.sub_arrow {position:absolute;background:url(../images/2011/sub_arrow.gif) no-repeat;width:10px;height:5px;top:-3px;left:212px;}
#topNavi ul.navi li#E03 div.topnavi_s03 {left:0px;width:700px;}
#topNavi ul.navi li#E04 div.sub_arrow {position:absolute;background:url(../images/2011/sub_arrow.gif) no-repeat;width:10px;height:5px;top:-3px;left:240px;}
#topNavi ul.navi li#E04 div.topnavi_s04 {left:0px;width:700px;}
#topNavi ul.navi li#E05 div.sub_arrow {position:absolute;background:url(../images/2011/sub_arrow.gif) no-repeat;width:10px;height:5px;top:-3px;left:215px;}
#topNavi ul.navi li#E05 div.topnavi_s05 {left:350px;width:550px;}
#topNavi ul.navi li#E06 div.sub_arrow {position:absolute;background:url(../images/2011/sub_arrow.gif) no-repeat;width:10px;height:5px;top:-3px;left:225px;}
#topNavi ul.navi li#E06 div.topnavi_s06 {left:400px;width:400px;}
#topNavi ul.navi li#E07 div.sub_arrow {position:absolute;background:url(../images/2011/sub_arrow.gif) no-repeat;width:10px;height:5px;top:-3px;left:225px;}
#topNavi ul.navi li#E07 div.topnavi_s07 {left:100px;width:500px;}


.search_2011 {position:absolute ; right:0 ; top:19px ; width:177px ; height:26px ; background:url(/images/2012/search_back.gif) no-repeat ; padding-top:9px ;}
.search_2011 input.search_input {border:0 ; ; background:#ffffff ; width:133px ; height:18px ; margin-left:20px ; line-height:18px ;}

#contents_top {clear:both ; width:100% ; height:533px ; position:absolute ; top:336px ; .z-index:-1 ;}
.flash_bg_left {width:260px ; height:533px ; background:url(/images/2012/flash_bg_left.gif) no-repeat ; position:absolute ; left:50% ; top:0 ; margin-left:-755px ;}
.flash_bg_right {width:370px ; height:533px ; background:url(/images/2012/flash_bg_right.gif) no-repeat ; position:absolute ; left:50% ; top:0 ; margin-left:494px ;}
.main_flash {width:990px ; height:533px ; margin:0 auto ;}

.main_cont {width:100% ; height:157px ;  position:absolute ; left:0; top:79px; }
.main_contents {width:990px ; height:157px ; margin:0 auto ; position:relative ;}
.cont_2012 {width:990px ; height:157px ; float:left ; }

#tabBoard {width:239px ; height:157px ; background:url(/images/2012/bg_box01.gif) no-repeat ; position:relative ; top:0; left:0; float:left ; clear:both;}
#tabBoard ul.tabClass {width:239px ; height:157px ; overflow:hidden ; padding-top:18px ;}
#tabBoard ul.tabClass li{float:left ; padding-left:10px ;}

#tabBoard ul.tabClass {overflow:hidden ;}
#tabBoard ul.tabClass li ul{display:none ;}
#tabBoard ul.tabClass li p{display:none ;}

#tabBoard ul.tabClass li.on ul{display:block ; position:absolute ; top:38px ; left:0px ; padding-top:10px ;}

#tabBoard ul.tabClass li.on ul li{width:225px; }
#tabBoard ul.tabClass li.on p{display:block;}
#tabBoard ul.tabClass li p.more {position:absolute; right:15px; top:20px;}
#tabBoard ul.tabClass li ul li {border-bottom:none ; padding-left:14px ; padding-bottom:2px ; }
#tabBoard ul.tabClass li ul li a{float:left;}
#tabBoard ul.tabClass li ul li span {position:absolute; right:10px; }

#oil_price {width:239px ; height:157px ; float:left ; background:url(/images/2012/bg_box01.gif) no-repeat ; margin-left:9px ; position:relative ;}
#oil_price ul.tabClass {width:239px ; height:157px ; overflow:hidden ; padding-top:10px ;}
#oil_price ul.tabClass li{float:left ; padding-left:10px ;}

#oil_price ul.tabClass {overflow:hidden ;}
#oil_price ul.tabClass li ul{display:none ;}
#oil_price ul.tabClass li.on ul{display:block ; position:absolute ; top:32px ; left:0px ; padding-top:22px ;}
#oil_price ul.tabClass li.on ul li{}
#oil_price ul.tabClass li ul li {padding-left:10px ; padding-bottom:2px ;}

/* 국내 */
	#domestic_price {width:230px ; position:absolute ; left:0px ; top:0px ;}
	#domestic_price ul.tabClass {width:230px;overflow:hidden;}

	#domestic_price ul.tabClass li span {font-size:11px ; color:#ff7200 ;}
	#domestic_price ul.tabClass {overflow:hidden;}

	#domestic_price ul.tabClass li div {width:230px ; position:absolute ; left:10px ; top:40px ;}

	#domestic_price ul.tabClass li.on div{display:block;}
	#domestic_price ul.tabClass li.off div{display:none;}

	#domestic_price .tbl_domestic {width:100%;}
	#domestic_price .tbl_domestic th {background-color:#ededed;color:#333;height:20px;font-size:11px;}
	#domestic_price .tbl_domestic td {height:20px;text-align:center; font-size:11px ;}
	#domestic_price .tbl_domestic td.left {text-align:left;padding-left:5px;font-weight:bold;}
	#domestic_price .tbl_domestic td img {margin-right:3px;}
	#domestic_price .tbl_domestic td span.info {font-weight:lighter;}
	#domestic_price .tbl_domestic td .opi {font-weight:normal ; letter-spacing:0 ; color:#f75d00 ;}
	#domestic_price .tbl_domestic td .opi:hover {text-decoration:underline ;}
	
	
/* 국제 */
	#inter_price {width:210px ; position:absolute ; left:0px ; top:0px ;}
	#inter_price ul.tabClass {width:230px;overflow:hidden;}

	#inter_price ul.tabClass li {font-size:11px ;}
	#inter_price ul.tabClass li a:hover {color:#ff7200 ;}
	#inter_price ul.tabClass {overflow:hidden;}

	#inter_price ul.tabClass li div {width:230px ; position:absolute ; left:10px ; top:40px ;}
	#inter_price ul.tabClass li.on a {color:#ff7200 ;}
	#inter_price ul.tabClass li.on div{display:block;}
	#inter_price ul.tabClass li.off div{display:none;}

	#inter_price .tbl_inter {width:100%;}
	#inter_price .tbl_inter th {background-color:#ededed;color:#333;height:20px;font-size:11px;}
	#inter_price .tbl_inter td {height:20px;text-align:center; font-size:11px ;}
	#inter_price .tbl_inter td a {color:#777 !important;}
	#inter_price .tbl_inter td.left {text-align:left;padding-left:5px;font-weight:bold;}
	#inter_price .tbl_inter td img {margin-right:3px;}
	#inter_price .tbl_inter td span.info {font-weight:lighter;}	
	
.oil_price_date {
	width:153px !important; height:18px ; line-height:20px ; background:url(/images/2012/oil_price_date_bg.gif) no-repeat ; text-align:center ; color:#fff ;
	position:absolute ; left:35px !important; top:-40px !important; z-index:999 ;
	}

/* 해외 광구도 */
#main_select {width:203px ; height:157px ; background:url(/images/2012/bg_box02.gif) no-repeat ; float:left ; margin-left:10px ; position:relative ; text-align:center ;}
#main_select p {width:63px ; height:15px ; position:absolute ; left:18px ; top:22px ;}
#main_select ul {margin-top:54px ;}
#main_select ul li {padding-bottom:3px ;}
#main_select .select_go {padding-top:7px ;}

/* 팝업존 */
#popup_zone {width:281px ; height:157px ; display:block ; float:right ; background:url(/images/2012/bg_box03.gif) no-repeat ;}

#popup_zone .popup_area {position:relative;width:100%; height:157px;display:block;;padding-top:10px; }
#popup_zone a {position:relative;}
#popup_zone p {float:left;margin-left:9px;_margin-left:4px;}
#popup_zone ul {text-align:right ;}
#popup_zone ul li{float:left ; padding-left:8px ; }
#popup_zone ul li img{vertical-align:middle;}
#popup_zone ul li div {position:absolute;top:27px;left:0;}
#popup_zone ul li.btn {width:23px ; height:13px ; position:absolute ; right:10px ; top:9px ;}

/* 푸터 */
#footer {width:100% ; height:100px ; position:absolute ; left:0 ; top:863px ;}
.foot {width:990px ; margin:0 auto ; position:relative ;}
.foot .qr {width:62px ; height:62px ; position:absolute ; left:63px ; top:0 ;}
.foot .foot_logo {width:100px ; height:42px ; position:absolute ; left:147px ; top:10px ;}
.foot .foot_menu {width:570px ; height:12px ; position:absolute ; left:250px ; top:10px ; float:left ;}
.foot .foot_menu li {float:left ; background:url(/images/2011/footer_bar.gif) no-repeat right 1px ; padding:0 10px 0 9px ;}
.foot .foot_menu li.last {padding-right:0 ; background:none ;}
.foot .family_site {clear:both ; width:165px ; position:absolute ; right:0 ; top:6px ;}
.foot .family_site select {font-size:11px ; width:165px ; letter-spacing:-1px ;}
.foot_cont address {width:237px ; height:11px ; position:absolute ; left:260px ; top:31px ;}
.foot_cont .tel {width:98px ; height:11px ; position:absolute ; left:535px ; top:31px ;}
.foot_cont .fax {width:98px ; height:11px ; position:absolute ; left:651px ; top:31px ;}
.foot_cont .copyright {width:285px ; height:11px ; position:absolute ; left:260px ; top:46px ;}
.foot_cont .email {width:147px ; height:11px ; position:absolute ; left:593px ; top:46px ;}

/* 퀵 */
#gotop {
	width:92px ; height:500px ; background:url(/images/2012/quick_bg.png) no-repeat ; text-align:center ;
	_position:fixed;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/2012/quick_bg.png', sizingMethod='crop');
	}
	/*
#gotop {
	width:92px ; height:700px ; background:url(/images/2012/quick_bg.png) no-repeat ; text-align:center ; z-index: 999; 
	}
	*/
	

#gotop ul {padding-top:15px;}
#gotop ul li {}



/* 플래시 메뉴 */
.top_flash {width:990px ; height:122px ;}
.bottom_flash {width:990px ; height:169px ; background:url(/images/2012/menu_bottom.jpg) no-repeat ; _position:absolute ; _top:364px ;}

.flash_menu {width:990px ; height:242px ; background:url(/images/2012/main_menu_bg.jpg) no-repeat ; position:relative ;}
.flash_menu ul {}
.flash_menu ul li a {display:block ; height:17px ; background:no-repeat 0 0 ; text-indent:-5000px ; overflow:hidden ;}
.flash_menu ul li.f_menu01_01 a {width:72px ; height:17px ; background:url(/images/2012/box1_1.gif) no-repeat 0 0 ; position:absolute ; left:56px ; top:81px ;}
.flash_menu ul li.f_menu01_01 a:hover {width:72px ; height:17px ; background-position:0 -17px ;}
.flash_menu ul li.f_menu01_02 a {width:72px ; height:17px ; background:url(/images/2012/box1_2.gif) no-repeat 0 0 ; position:absolute ; left:56px ; top:99px ;}
.flash_menu ul li.f_menu01_02 a:hover {width:72px ; height:17px ; background-position:0 -17px ;}
.flash_menu ul li.f_menu01_03 a {width:72px ; height:17px ; background:url(/images/2012/box1_3.gif) no-repeat 0 0 ; position:absolute ; left:56px ; top:116px ;}
.flash_menu ul li.f_menu01_03 a:hover {width:72px ; height:17px ; background-position:0 -17px ;}
.flash_menu ul li.f_menu01_04 a {width:72px ; height:17px ; background:url(/images/2012/box1_4.gif) no-repeat 0 0 ; position:absolute ; left:56px ; top:133px ;}
.flash_menu ul li.f_menu01_04 a:hover {width:72px ; height:17px ; background-position:0 -17px ;}
.flash_menu ul li.f_menu01_05 a { 
	width:116px ; height:43px ; background:url(/images/2012/box1_title_btn.png) no-repeat 0 0 ; position:absolute ; left:90px ; top:168px ;
	}
/* _background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/2012/box1_title_btn.png', sizingMethod='crop'); */
.flash_menu ul li.f_menu02_01 a {width:72px ; height:17px ; background:url(/images/2012/box2_1.gif) no-repeat 0 0 ; position:absolute ; left:283px ; top:98px ;}
.flash_menu ul li.f_menu02_01 a:hover {width:72px ; height:17px ; background-position:0 -17px ;}
.flash_menu ul li.f_menu02_02 a {width:72px ; height:17px ; background:url(/images/2012/box2_2.gif) no-repeat 0 0 ; position:absolute ; left:283px ; top:115px ;}
.flash_menu ul li.f_menu02_02 a:hover {width:72px ; height:17px ; background-position:0 -17px ;}
.flash_menu ul li.f_menu02_03 a {width:72px ; height:17px ; background:url(/images/2012/box2_3.gif) no-repeat 0 0 ; position:absolute ; left:283px ; top:132px ;}
.flash_menu ul li.f_menu02_03 a:hover {width:72px ; height:17px ; background-position:0 -17px ;}
.flash_menu ul li.f_menu02_04 a {width:81px ; height:17px ; background:url(/images/2012/box2_4.gif) no-repeat 0 0 ; position:absolute ; left:283px ; top:149px ;}
.flash_menu ul li.f_menu02_04 a:hover {width:81px ; height:17px ; background-position:0 -17px ;}
.flash_menu ul li.f_menu02_05 a {
	width:121px ; height:46px ; background:url(/images/2012/box2_title_btn.png) no-repeat 0 0 ; position:absolute ; left:330px ; top:168px ; cursor:pointer ;
	
	}
/* _background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/2012/box2_title_btn.png', sizingMethod='crop'); */
.flash_menu ul li.f_menu03_01 a {width:81px ; height:17px ; background:url(/images/2012/box3_1.gif) no-repeat 0 0 ; position:absolute ; left:560px ; top:86px ;}
.flash_menu ul li.f_menu03_01 a:hover {width:81px ; height:17px ; background-position:0 -17px ;}
.flash_menu ul li.f_menu03_02 a {width:81px ; height:17px ; background:url(/images/2012/box3_2.gif) no-repeat 0 0 ; position:absolute ; left:560px ; top:103px ;}
.flash_menu ul li.f_menu03_02 a:hover {width:81px ; height:17px ; background-position:0 -17px ;}
.flash_menu ul li.f_menu03_03 a {width:81px ; height:17px ; background:url(/images/2012/box3_3.gif) no-repeat 0 0 ; position:absolute ; left:560px ; top:120px ;}
.flash_menu ul li.f_menu03_03 a:hover {width:81px ; height:17px ; background-position:0 -17px ;}
.flash_menu ul li.f_menu03_04 a {width:81px ; height:17px ; background:url(/images/2012/box3_4.gif) no-repeat 0 0 ; position:absolute ; left:560px ; top:137px ;}
.flash_menu ul li.f_menu03_04 a:hover {width:81px ; height:17px ; background-position:0 -17px ;}
.flash_menu ul li.f_menu03_05 a {
	width:131px ; height:46px ; background:url(/images/2012/box3_title_btn.png) no-repeat 0 0 ; position:absolute ; left:570px ; top:177px ; cursor:pointer ;
	
	}
/* _background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/2012/box3_title_btn.png', sizingMethod='crop'); */
.flash_menu ul li.f_menu04_01 a {width:78px ; height:17px ; background:url(/images/2012/box4_1.gif) no-repeat 0 0 ; position:absolute ; left:768px ; top:75px ;}
.flash_menu ul li.f_menu04_01 a:hover {width:78px ; height:17px ; background-position:0 -17px ;}
.flash_menu ul li.f_menu04_02 a {width:78px ; height:17px ; background:url(/images/2012/box4_2.gif) no-repeat 0 0 ; position:absolute ; left:768px ; top:92px ;}
.flash_menu ul li.f_menu04_02 a:hover {width:78px ; height:17px ; background-position:0 -17px ;}
.flash_menu ul li.f_menu04_03 a {width:76px ; height:17px ; background:url(/images/2012/box4_3.gif) no-repeat 0 0 ; position:absolute ; left:768px ; top:109px ;}
.flash_menu ul li.f_menu04_03 a:hover {width:76px ; height:17px ; background-position:0 -17px ;}
.flash_menu ul li.f_menu04_04 a {width:87px ; height:17px ; background:url(/images/2012/box4_4.gif) no-repeat 0 0 ; position:absolute ; left:768px ; top:126px ;}
.flash_menu ul li.f_menu04_04 a:hover {width:87px ; height:17px ; background-position:0 -17px ;}
.flash_menu ul li.f_menu04_05 a {
	width:115px ; height:41px ; background:url(/images/2012/box4_title_btn.png) no-repeat 0 0 ; position:absolute ; left:830px ; top:140px ; cursor:pointer ;
	
	}
/* _background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/2012/box4_title_btn.png', sizingMethod='crop'); */

/* 5주간 추이 팝업 */
#development {width:564px ; border:2px solid #00251d ; padding:8px ; margin:0 auto ;}
#development h1 {padding-bottom:30px ;}
#development p {text-align:right ;}
#development table {border-collapse:collapse ; width:100% ; border-top:2px solid #00251d ;}
#development table thead th {padding:7px 0 ; background:#f1f1f1 ; border-bottom:1px solid #c5c5c5 ;}
#development table tbody td {padding:7px 0 ; text-align:center ; border-bottom:1px solid #c5c5c5 ;}
#development .opinet_txt {text-align:center ; padding:20px 0 ;}
#development .opinet_txt a {color:#e45108 ; font-weight:bold ;}
#development .opinet_txt a:hover {text-decoration:underline ;}
#development .print_5 {text-align:center ; padding-bottom:10px ;}








